.totoal{
    width: 100%;
    height: 100%;
  }
  .contact{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  input{
    height: 20px;
  }
  .name{
    display: flex;
    gap: 20px;
  }
  .Location{
    display: flex;
    gap: 20px;
  }
  