.whole{
    background-color: lightgrey;
    display: flex;
}

.item{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  img{
    height: 120px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
  }
.prods{
    display: flex;
    flex-direction: column;
}  
.p{
    display: flex;
    justify-content: space-between;
}
.billing{
    display: flex;

}
button{
    background-color: blue;
    color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
