header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
  }
  .body {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 200px; /* Adds space between image and description */
  }
  
  img {
    width: 150px; /* Adjust the width as needed */
    height: 300px;
     border: 1px solid black;
    border-radius: 20px;
  }
  
  .desc {
    flex: 1; /* Allows description to take the remaining space */
  }
  .desc{
    display: flex;
    flex-direction: column;
  }
  
  button{
     height: 50px;
     width: 100px;
     background-color: blue;
     color: white;
     border-radius: 30px;
  }
  .gr{
    color: green;
  }